* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root {
   
    width: 100%;
    // background-color: black;
}

html {
    background-color: rgb(59, 57, 57);
}

h1 {
    color: rgb(219, 214, 214);
}

